---
---

<section class="section" style="background:var(--background-tan)" aria-label="商品紹介">
  <div class="screen-wrapper">
    <div class="product screen">
      <div class="product__inner">
        <img class="product__photo" src="/mca-allergencut/img/adobestock-292120451-2.webp" alt="犬の写真" />
        <div class="product__card" aria-hidden="true"></div>
        <h2 class="product__name product__name--left">魚 ＆ お米</h2>
        <h2 class="product__name product__name--right">魚 ＆えんどう豆たんぱく</h2>
        <img class="product__package product__package--left" src="/mca-allergencut/img/u0311-1.webp" alt="魚＆お米 2.5kg パッケージ" />
        <img class="product__package product__package--right" src="/mca-allergencut/img/u0311-2.webp" alt="魚＆えんどう豆たんぱく 2kg パッケージ" />
        <p class="product__brand">メディコートアドバンス<br />アレルゲンカット</p>
        <div class="product__underline" aria-hidden="true"></div>
        <img class="product__gf-icon" src="/mca-allergencut/img/gf-c-f-2.webp" alt="ドライフードの粒" />

        <div class="product__heading">
          <div class="product__heading-group">
            <div class="product__heading-lines">
              <p class="product__heading-line product__heading-line--top">毎日のごはんだから、</p>
              <p class="product__heading-line product__heading-line--bottom">たんぱく源で選ぶ</p>
            </div>
            <img class="product__heading-deco product__heading-deco--inner" src="/mca-allergencut/img/group-5.webp" alt="" aria-hidden="true" />
          </div>
          <img class="product__heading-deco product__heading-deco--outer" src="/mca-allergencut/img/group-5-1.webp" alt="" aria-hidden="true" />
        </div>

        <div class="product__cta" id="cta">
          <div class="product__cta-badge">
            <div class="product__cta-badge-text">お一人様1回限りの限定価格</div>
          </div>
          <p class="product__cta-price">しっかり試せてどちらも800円</p>
          <a class="product__cta-button" href="#footer-cta" aria-label="今すぐ試す">
            <div class="product__cta-button-bg" aria-hidden="true"></div>
            <img class="product__cta-button-arrow" src="/mca-allergencut/img/vector-1-6.svg" alt="" aria-hidden="true" />
            <div class="product__cta-button-text">今すぐ試す</div>
          </a>
          <p class="product__cta-micro">お届けは1回のみ。自動継続なし。</p>
        </div>

        <img class="product__weight product__weight--left" src="/mca-allergencut/img/badge-2_5kg.webp" alt="2.5kg" />
        <img class="product__weight product__weight--right" src="/mca-allergencut/img/badge-2kg.webp" alt="2kg" />
      </div>
    </div>
  </div>
</section>

<style>
  .product {
    position: relative;
    width: 440px;
    height: 959px;
    background-color: var(--background-tan);
    overflow: hidden;
  }

  .product__inner {
    position: relative;
    top: 37px;
    left: 24px;
    width: 402px;
    height: 780px;
    /* フッター上の領域で上下を均等化（上に詰める） */
    transform: translateY(-11px);
  }

  .product__photo {
    position: absolute;
    top: 83px;
    left: 133px;
    width: 117px;
    height: 151px;
    object-fit: cover;
  }

  .product__card {
    position: absolute;
    top: 204px;
    left: calc(50% - 201px);
    width: 393px;
    height: 562px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow-soft);
  }

  .product__name {
    position: absolute;
    top: 360px;
    width: 165px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--amber-brown);
    font-size: var(--font-size-s);
    text-align: center;
    letter-spacing: 0;
    line-height: 18.2px;
  }

  .product__name--left {
    left: 22px;
  }

  .product__name--right {
    left: 209px;
  }

  .product__package {
    position: absolute;
    width: 110px;
    height: 197px;
    object-fit: contain;
  }

  .product__package--left {
    top: 388px;
    left: 50px;
  }

  .product__package--right {
    top: 387px;
    left: 237px;
  }

  .product__brand {
    position: absolute;
    top: 234px;
    left: calc(50% - 136px);
    font-family: var(--font-family);
    font-weight: 900;
    color: var(--green-vivid);
    font-size: var(--font-size-product-brand);
    text-align: center;
    letter-spacing: -1.25px;
    line-height: 32px;
  }

  .product__underline {
    position: absolute;
    top: 299px;
    left: calc(50% - 165px);
    width: 282px;
    height: 38px;
    background-image: url(/mca-allergencut/img/vector-11.svg);
    background-size: 100% 100%;
  }

  .product__gf-icon {
    position: absolute;
    top: 255px;
    left: 306px;
    width: 73px;
    height: 50px;
    object-fit: cover;
  }

  .product__heading {
    position: absolute;
    width: 337px;
    height: 73px;
    top: 0;
    left: 27px;
  }

  .product__heading-group {
    position: absolute;
    width: 337px;
    height: 73px;
    top: 0;
    left: 0;
  }

  .product__heading-lines {
    position: absolute;
    top: 0;
    left: 44px;
    width: 255px;
    height: 72px;
    display: flex;
    flex-direction: column;
  }

  .product__heading-line {
    width: 251px;
    height: 36px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--white);
    font-size: var(--font-size-heading-line);
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }

  .product__heading-line--bottom {
    margin-left: 25px;
    width: 201px;
  }

  .product__heading-deco--inner {
    position: absolute;
    width: 337px;
    height: 44px;
    top: 29px;
    left: 0;
  }

  .product__heading-deco--outer {
    position: absolute;
    width: 337px;
    height: 45px;
    top: 24px;
    left: 0;
  }

  .product__cta {
    position: absolute;
    top: 605px;
    left: 75px;
    width: 241px;
    height: 141px;
  }

  .product__cta-badge {
    display: flex;
    width: 69.71%;
    height: 18.44%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1px 12px;
    position: absolute;
    top: 0;
    left: 15.15%;
    border: 1px solid;
    border-color: var(--orange);
  }

  .product__cta-badge-text {
    position: relative;
    width: fit-content;
    margin-left: -2px;
    margin-right: -2px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--orange);
    font-size: var(--font-size-xs);
    letter-spacing: -0.12px;
    line-height: 18px;
    white-space: nowrap;
  }

  .product__cta-price {
    position: absolute;
    width: 100%;
    height: 16.31%;
    top: 24.11%;
    left: 0;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--text-dark);
    font-size: var(--font-size-l);
    text-align: center;
    letter-spacing: 0.8px;
    line-height: normal;
  }

  .product__cta-button {
    position: absolute;
    width: 243px;
    height: 56px;
    top: 65px;
    left: 0;
  }

  .product__cta-button-bg {
    width: 99.18%;
    background-color: var(--orange);
    border-radius: 999px;
    box-shadow: 0px 4px 4px var(--shadow-strong);
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    animation: cta-glow 2s ease-in-out infinite;
  }

  .product__cta-button-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, rgba(var(--white-rgb), 0.25) 50%, transparent 100%);
    animation: cta-shine 3s ease-in-out infinite;
    pointer-events: none;
  }

  .product__cta-button-arrow {
    position: absolute;
    width: 7.5%;
    height: 34%;
    top: 33%;
    left: 71.5%;
    object-fit: contain;
  }

  .product__cta-button-text {
    position: absolute;
    width: 46.09%;
    height: 55.36%;
    top: 17.65%;
    left: 24.75%;
    font-family: var(--font-family);
    font-weight: 900;
    color: var(--white);
    font-size: var(--font-size-cta);
    letter-spacing: 1.07px;
    line-height: normal;
  }

  .product__cta-micro {
    position: absolute;
    width: 86.62%;
    height: 14.18%;
    top: 85.82%;
    left: 7.05%;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--amber-brown);
    font-size: var(--font-size-xs);
    text-align: center;
    letter-spacing: 0;
    line-height: 19.2px;
  }

  .product__weight {
    position: absolute;
    width: 66px;
    height: 66px;
    object-fit: contain;
  }

  .product__weight--left {
    top: 532px;
    left: 0;
  }

  .product__weight--right {
    width: 84px;
    height: 80px;
    top: 525px;
    left: 311px;
  }
</style>
